.bodyArtwork {
  color: #cfccd6;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  position: relative;
  left: 300px;
  flex-wrap: wrap;
  width: calc(100vw - 300px);
}
canvas {
  border-radius: 10px;
}
