.carousel {
  width: calc(100vw - 300px);
  left: 300px;
  position: relative;
}
.carousel-inner {
  max-height: 120vh !important;
}
.imageCarousel {
  width: 100% !important;
  aspect-ratio: 5/3 !important;
  object-fit: cover !important;
  object-position: center !important;
}
@media screen and (max-width: 1000px) {
  .carousel {
    position: relative;
    left: 0;
    width: 100%;
  }
}
