.flex3d {
  display: flex;
  flex-wrap: wrap;
  width: calc(100vw - 300px);
  left: 300px;
  position: relative;
  align-items: center;
  justify-content: center;
}
.fleximages3D {
  display: flex;
  flex: 1 1 300px;
  flex-wrap: wrap;
}
.img3d {
  width: 100% !important;
  aspect-ratio: 5/3 !important;
  object-fit: cover !important;
  object-position: center !important;
}
@media screen and (max-width: 1000px) {
  .flex3d {
    width: 100%;
    left: 0px;
  }
}
