.flex2ddetails {
  display: flex;
  flex-wrap: wrap;
  width: calc(100vw - 300px);
  left: 300px;
  position: relative;
  justify-content: center;
  flex-direction: row;
  gap: 50px;
}
.carousel2ddetails {
  object-fit: cover !important;
  object-position: center !important;
  min-height: 80vh;
  width: 100%;
}
.img2ddetails {
  object-fit: cover !important;
  object-position: center !important;
  max-height: 80vh;
  width: 100%;
}
.fleximages2DDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(70% - 35px);
}
.carouselDetail {
  width: calc(70% - 35px);
  left: 0px !important;
  max-height: 80vh;
}
h2 {
  color: #cfccd6;
}
.mainNamedetails {
  width: calc(100vw - 300px);
  left: 300px;
  position: relative;
  display: flex;
  align-self: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #ff9505;
}
.commentaarData {
  color: #cfccd6;
  font-size: 20px;
  width: calc(30% - 35px);
  margin-right: 20px;
}
@media screen and (max-width: 1350px) {
  .flex2ddetails {
    gap: 20px;
  }
  .commentaarData {
    overflow-y: scroll;
    max-height: 50vh;
    width: calc(30% - 20px);
  }
  .carouselDetail {
    width: calc(70% - 20px);
  }
}
@media screen and (max-width: 1000px) {
  .flex2ddetails {
    left: 0px;
    width: 100%;
    gap: 30px;
  }
  .mainNamedetails {
    width: 100%;
    left: 0px;
    position: relative;
    display: flex;
    align-self: center;
    justify-content: center;
  }
  .commentaarData {
    width: 100% !important;
    max-width: 100%;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    max-height: 50vh;
    overflow-y: scroll;
  }
  .img2ddetails {
    width: 100% !important;
    max-width: 100%;
    max-height: 80vh;
  }
  .carouselDetail {
    margin-top: 0px;
    width: 100%;
  }
  .mainNamedetails {
    font-size: 35px;
  }
  .carousel2ddetails {
    min-height: 40vh !important;
  }
  .fleximages2DDetails {
    width: 100%;
  }
}
