@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --font-family: "Manrope", sans-serif;

  --gradient-text: linear-gradient(89.97deg, #55868c 1.84%, #ff9505 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #55868c -13.86%, #FF950599.55%);

  --color-bg: #3a405a;
  --color-footer: #cfccd6;
  --color-blog: #55868c;
  --color-text: #cfccd6;
  --color-subtext: #ff9505;
}
